.shop-bla2 {
    font-family: Arial;
    font-size: 24;
    color: white;
    background-color: red;
    margin-bottom: 200px;

}

.bla2 {
    cursor: pointer;
    color: white;
    

}

.bla2:hover {
    text-decoration: underline;
}

.shop-bla {
    font-family: Arial;
    font-size: 24;
    color: white;
    background-color: red;

}

.bla {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.bla:hover {
    text-decoration: underline;
}


.new {
    color: orangered;
    font-size: 20px;
    margin-bottom: 10px;

}

.mac{
    font-weight: bold;
    font-size: 35px;
    margin-top: 0px;
    color: rgb(43, 43, 43);
    margin-bottom: 10px;
}

.super {
    margin-top: 0px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(43, 43, 43);
    margin-bottom: 10px;

}

.from {
    margin-top: 0px;
    font-size: 25px;
    color: rgb(56, 56, 56);
    margin-bottom: 20px;

}

p {
    font-family: Roboto;
    text-align: center;
    
}

.buy {
    
    height: 36px;
    width: 67px;
    background-color: rgb(72, 100, 255);
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 18px;
    margin-top: 0px;
    cursor: pointer;
    transition: background-color 0.15s;
    transition: opacity 0.15s;
}

.buy:hover {
    background-color: rgb(68, 68, 201);
}

.buy:active {
    opacity: 0.7;
}

body {
    text-align: center;
}
